{% extends 'postmail/base.html' %}
{% block content %}


<div class="col-12">
    <div class="text-center container">
        <div class="card shadow-sm" style="height: 24rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">{{ object.article_title }}</h5>
                 <img src="{{ object.image}}" width="100%" height="100%">
                <h6 class="card-subtitle mb-3 text-body-secondary">{{ object.pk }}</h6>
                <p class="card-text">{{ object.article_body }}</p>
                <div>
                    <a href="{% url 'blog:art_list'%}" type="button"
                       class="btn btn-sm btn-outline-secondary mb-3">Назад к блогам</a>

                    <div class="row mb-3">
                        <a>
                            <small class="text-body-secondary">Создан {{ object.publicated_date }}</small>
                            <small class="text-body-secondary">Количество просмотров{{ object.count_views }}</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
